body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #000;
  font-family: monospace;
  color: #4bc3ff;
}

.hannah-app {
  padding: 20px;
}

/* -------- Hannah --------- */

.hannah {
  width: 150px;
  height: 150px;
  position: fixed;
  border: 15px red solid;
  border-radius: 50%;
  top: 43%;
  left: 43%;
}
.glowy-container {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0 0 10px #000;
  z-index: 10000;
  position: absolute;
  background-color: #fff;
  cursor: pointer;
}
.glowy {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-animation: neon 1.5s ease-in-out infinite alternate;
  -moz-animation: neon 1.5s ease-in-out infinite alternate;
  animation: neon 1.5s ease-in-out infinite alternate;
}
@-webkit-keyframes neon {
  from {
    box-shadow: 0 0 10px #fbff05, 0 0 20px #fbff05, 0 0 30px #fbff05, 0 0 40px #fbff05, 0 0 70px #36A9F7, 0 0 80px #36A9F7, 0 0 100px #36A9F7, 0 0 150px #36A9F7;
    filter: brightness(60%) grayscale(100%);
  }
  to {
    box-shadow: 0 0 5px #fbff05, 0 0 10px #fbff05, 0 0 15px #fbff05, 0 0 20px #fbff05, 0 0 35px #36A9F7, 0 0 40px #36A9F7, 0 0 50px #36A9F7, 0 0 63px #36A9F7;
    filter: brightness(100%) grayscale(0%);
  }
}
@-moz-keyframes neon {
  from {
    box-shadow: 0 0 10px #fbff05, 0 0 20px #fbff05, 0 0 30px #fbff05, 0 0 40px #fbff05, 0 0 70px #36A9F7, 0 0 80px #36A9F7, 0 0 100px #36A9F7, 0 0 150px #36A9F7;
    filter: brightness(60%) grayscale(100%);
  }
  to {
    box-shadow: 0 0 5px #fbff05, 0 0 10px #fbff05, 0 0 15px #fbff05, 0 0 20px #fbff05, 0 0 35px #36A9F7, 0 0 40px #36A9F7, 0 0 50px #36A9F7, 0 0 63px #36A9F7;
    filter: brightness(100%) grayscale(0%);
  }
}
@keyframes neon {
  from {
    box-shadow: 0 0 10px #fbff05, 0 0 20px #fbff05, 0 0 30px #fbff05, 0 0 40px #fbff05, 0 0 70px #36A9F7, 0 0 80px #36A9F7, 0 0 100px #36A9F7, 0 0 150px #36A9F7;
    filter: brightness(60%) grayscale(100%);
  }
  to {
    box-shadow: 0 0 5px #fbff05, 0 0 10px #fbff05, 0 0 15px #fbff05, 0 0 20px #fbff05, 0 0 35px #36A9F7, 0 0 40px #36A9F7, 0 0 50px #36A9F7, 0 0 63px #36A9F7;
    filter: brightness(100%) grayscale(0%);
  }
}

 /* -------- RepeatWords ------ */
 .display-box-container {
   min-height: 50px;
   padding: 30px 20px 10px;
   border: 2px gold dashed;
   text-align: center;
   letter-spacing: .6px;
   line-height: 20px;
   font-size: 24px;
 }
 .spinner {
   margin: 10px auto 0;
 }

 .spinner > div {
   width: 18px;
   height: 18px;
   background-color: #4bc3ff;

   border-radius: 100%;
   display: inline-block;
   -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
   animation: sk-bouncedelay 1.4s infinite ease-in-out both;
 }

 .spinner .bounce1 {
   -webkit-animation-delay: -0.32s;
   animation-delay: -0.32s;
 }

 .spinner .bounce2 {
   -webkit-animation-delay: -0.16s;
   animation-delay: -0.16s;
 }

 @-webkit-keyframes sk-bouncedelay {
   0%, 80%, 100% { -webkit-transform: scale(0) }
   40% { -webkit-transform: scale(1.0) }
 }

 @keyframes sk-bouncedelay {
   0%, 80%, 100% {
     -webkit-transform: scale(0);
     transform: scale(0);
   } 40% {
     -webkit-transform: scale(1.0);
     transform: scale(1.0);
   }
 }
